<div class="container course">
  <!-- <h1>This page shows course info</h1>
  <hr /> -->
  <span
    ><h3>Course Name:</h3>
    <p><%= course.name %></p></span
  >

  <span
    ><h3>Description:</h3>
    <p><%= course.description %></p></span
  >

  <span
    ><h3>Location:</h3>
    <p><%= course.location %></p></span
  >

  <span
    ><h3>Atar:</h3>
    <p><%= course.atar %></p></span
  >

  <span
    ><h3>Duration:</h3>
    <p><%= course.duration %></p></span
  >

  <span
    ><h3>Price:</h3>
    <p><%= course.price %></p></span
  >

  <span>
    <h3>Coordinator:</h3>
    <%= course.author.name %>
  </span>
</div>

<div class="container course-btns-div">
  <a href="/" class="anchor-btn">Homepage</a>
  <a href="/courses" class="anchor-btn">Courses</a>
  <a href="/preference" class="anchor-btn">Preference</a>
</div>
